<!-- Panel -->
  <section class="panel">
    <div class="intro color2">
      <h2 class="major">Elit integer</h2>
      <p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
    </div>
    <div class="gallery">
      <div class="group span-3">
        <a href="assets/images/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom"><img src="assets/images/gallery/thumbs/01.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/02.jpg" class="image filtered span-1-5" data-position="center"><img src="assets/images/gallery/thumbs/02.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/03.jpg" class="image filtered span-1-5" data-position="bottom"><img src="assets/images/gallery/thumbs/03.jpg" alt="" /></a>
      </div>
      <a href="assets/images/gallery/fulls/04.jpg" class="image filtered span-2-5" data-position="top"><img src="assets/images/gallery/thumbs/04.jpg" alt="" /></a>
      <div class="group span-4-5">
        <a href="assets/images/gallery/fulls/05.jpg" class="image filtered span-3" data-position="top"><img src="assets/images/gallery/thumbs/05.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center"><img src="assets/images/gallery/thumbs/06.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom"><img src="assets/images/gallery/thumbs/07.jpg" alt="" /></a>
        <a href="assets/images/gallery/fulls/08.jpg" class="image filtered span-3" data-position="top"><img src="assets/images/gallery/thumbs/08.jpg" alt="" /></a>
      </div>
      <a href="assets/images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="assets/images/gallery/thumbs/09.jpg" alt="" /></a>
    </div>
  </section>
